<div class="row">
    <div class="col-8">
        <app-materia-info [materia]="this.materia" [f_inicio]="this.f_ini" [f_final]="this.f_fin"></app-materia-info>
    </div>
    <div class="col-4">
        <app-pie-chart class="w-100"></app-pie-chart>
    </div>
    <div class="col-8">
        <h3 class="text-center">Lista de Estudiantes Inscritos a la materia</h3>
        <app-adm-table [ADEList]="this.ADEList" [withUrl]="false" [url]="'http://localhost:5000/estudiantes'"
            [tipo]="'Estudiante'"></app-adm-table>
    </div>
    <div class="col-4">
        <app-docente-info [docente]="this.docente"></app-docente-info>
    </div>
</div>