<div class="row mt-4">
    <div class="col-4">
        <div class="card cards">
            <div class="card-body">
                <h3 class="card-title">Configuraciones básicas</h3>
                <h5 class="card-subtitle mb-2 text-muted">Si desea cambios importantes, contáctese con un encargado
                    profesional</h5>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Celular</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Vuelva a introducir su contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card cards">
            <div class="card-body">
                <h3 class="card-title">Información personal</h3>
                <p>
                    <span>Nombre:</span>
                    Miguel 
                </p>
                <p>
                    <span>Apellidos:</span>
                    Huayhua Condori
                </p>
                <p>
                    <span>Correo electrónico:</span>
                    miguelhuiayh@gmail.com
                </p>
                <p>
                    <span>Celular:</span>
                    734554554
                </p>
                <p>
                    <span>Carnet:</span>
                    93485345
                </p>
                <p>
                    <span>Edad:</span>
                    33
                </p>
                <p>
                    <span>Fecha de nacimiento:</span>
                    07/05/1999
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card cards">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>