<div class="row mt-4">
    <div class="col-4">
        <div class="card cards">
            <div class="card-body">
                <h3 class="card-title">Configuraciones básicas</h3>
                <h5 class="card-subtitle mb-2 text-muted">Si desea cambios importantes, contáctese con un encargado
                    profesional</h5>
                <form class="form col-12">
                    <div class="row">

                        <div class="col-12">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Celular</mat-label>
                                <input size="8" [(ngModel)]="this.ade.telf" [ngModelOptions]="{standalone:true}"
                                    matInput #postalCode maxlength="8" (input)="handleInputPhone($event)"
                                    placeholder="Coloque su número de celular">
                                <mat-hint [align]="'start'" class="error" *ngIf="this.showPhoneError1">
                                    Introduzca un celular válido
                                </mat-hint>
                                <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint>
                            </mat-form-field>

                        </div>
                        <div class="col-12">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Correo Electrónico</mat-label>
                                <input (input)="handleInputEmail($event)" [(ngModel)]="this.ade.email"
                                    [ngModelOptions]="{standalone:true}" matInput type="email">
                                <mat-hint [align]="'start'" class="error" *ngIf="this.showEmailError">
                                    Introduzca el correo con el formato correcto
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <input class="btn btn-outline-dark" type="submit" value="ACTUALIZAR DATOS">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card cards">
            <div class="card-body">
                <h3 class="card-title">Información personal</h3>
                <p>
                    <span>Nombre:</span>
                    Miguel
                </p>
                <p>
                    <span>Apellidos:</span>
                    Huayhua Condori
                </p>
                <p>
                    <span>Correo electrónico:</span>
                    miguelhuiayh@gmail.com
                </p>
                <p>
                    <span>Celular:</span>
                    734554554
                </p>
                <p>
                    <span>Carnet:</span>
                    93485345
                </p>
                <p>
                    <span>Edad:</span>
                    33
                </p>
                <p>
                    <span>Fecha de nacimiento:</span>
                    07/05/1999
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card cards">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>