.error {
    color: red;
}

mat-form-field {
    margin: 10px 0;
}

.submit-button {
    background-color: rgb(34, 36, 44) !important;
    color: whitesmoke;
    width: 200px;
    display: block;
    margin: 10px auto;

}

//progress Bar
.show {
    display: block !important;
}

span{
    font-weight: bold;
}