<div class="row bg-light rounded-3">
    <div class="col-12">
        <h2>Agregar {{this.tipo}}</h2>
        <hr>
        <form action="#" class="form col-12">
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Nombre del {{this.tipo}}</mat-label>
                        <input [(ngModel)]="this.nombre" matInput>
                    </mat-form-field>

                </div>
                <div class="col-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Apellidos del {{this.tipo}}</mat-label>
                        <input matInput>
                    </mat-form-field>

                </div>
                <div class="col-5">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Celular</mat-label>
                        <input size="7" matInput #postalCode maxlength="7"
                        (input)="handleInput($event)" placeholder="Coloque su número de celular">
                        <mat-hint align="end">{{postalCode.value.length}} / 7</mat-hint>
                    </mat-form-field>
                    <p  *ngIf="this.showPhoneError1">
                        Email is <strong>required</strong>
                    </p>
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput type="email">
                    </mat-form-field>

                </div>

            </div>
        </form>
    </div>
</div>