<header class="container-fluid main-header">
    <nav class="row py-1">
        <div class="col-1 offset-11">
            <div class="d-flex align-items-center">
                <button class="btn">
                    <mat-icon [matBadgeHidden]="true" matBadge="15" matBadgeColor="warn">notifications</mat-icon>
                </button>
                <button class="btn">
                    <img src="../../../assets/logo.png" width="40px"  alt="">
                </button>
            </div>

        </div>

    </nav>

</header>