<div class="user-card rounded-3 row bg-white">
    <div class="user-info col-12 col-xxl-4">
        <mat-icon>account_circle</mat-icon>
        <h2 class="text-center">{{this.ade.nombres + " "+this.ade.apellidos}}</h2>
        <p>
            {{this.ade.email}}
        </p>
        <p>
            {{this.departamento}}
        </p>
    </div>
    <div class="col-12 col-xxl-8">

        <div class="row">
            <div class="col-11 user-detail rounded-1 shadow my-lg-4 ">
                <h3>DATOS PERSONALES DEL {{this.tipo}}:</h3>
                <hr>
                <div class="row">
                    <div class="col-12 col-xxl-6">
                        <p>
                            <span>Celular de contacto:</span>{{ade.telf}}
                        </p>
                    </div>
                    <div class="col-12 col-xxl-6">
                        <p>
                            <span>Género:</span>{{ade.genero}}
                        </p>
                    </div>
                    <div class="col-12">
                        <p>
                            <span>Direccion:</span>{{ade.direccion}}
                        </p>
                    </div>
                    <div class="col-12 col-xxl-6">
                        <p>
                            <span>Celular de contacto:</span>{{ade.telf}}
                        </p>
                    </div>
                    <div class="col-12 col-xxl-6">
                        <p>
                            <span>Fecha de nacimiento:</span>{{this.f_nac}}
                        </p>
                    </div>
                    <div class="col-12 col-xxl-6">
                        <p>
                            <span>Edad:</span>{{ade.edad}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>