.add-button {
    width: 50%;
    margin: 20px auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.113);

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.244);
        ;
    }

    mat-icon {
        font-size: 3em;
        width: 50px;
        height: 50px;
    }
}

.custom-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 10px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.079);
    padding: 20px;

}


.row {
    width: 98%;
    margin: 0 auto;
}