<div class="row ">
    <div class="col-8 bg-light rounded-3">
        <h2>
            Materia
        </h2>
        <form class="form row" (submit)="handleSubmit()">
            <div class="col-12 col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Título:</mat-label>
                    <input [(ngModel)]="this.nombre" [ngModelOptions]="{standalone:true}" matInput>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Duración:</mat-label>
                    <input [(ngModel)]="this.duracion" [ngModelOptions]="{standalone:true}" matInput>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Costo:</mat-label>
                    <input [(ngModel)]="this.costo" [ngModelOptions]="{standalone:true}" matInput>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Banner:</mat-label>
                    <input [(ngModel)]="this.url" [ngModelOptions]="{standalone:true}" matInput
                        placeholder="Introduzca la URL del banner">
                </mat-form-field>
            </div>
            <div class="col-6">
                <span>Fecha de Inicio:</span>
                <app-date (selectedDay)="handleDayChange($event)" (selectedMonth)="handleMonthChange($event)"
                    (selectedYear)="handleYearChange($event)" [day]="this.f_inicio.getDate()+1"
                    [month]="this.f_inicio.getMonth()" [year]="this.f_inicio.getFullYear()"></app-date>
            </div>
            <div class="col-6">
                <span>Fecha de Conclusión:</span>
                <app-date (selectedDay)="handleDayChange2($event)" (selectedMonth)="handleMonthChange2($event)"
                    (selectedYear)="handleYearChange2($event)" [day]="f_conclusion.getDate()+1"
                    [month]="f_conclusion.getMonth()" [year]="f_conclusion.getFullYear()"></app-date>
            </div>
            <div class="col-6">
                <span>
                    Horario de entrada:
                </span>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Hora:</mat-label>
                            <mat-select [(ngModel)]="this.hora_entrada" [ngModelOptions]="{standalone:true}">
                                <mat-option *ngFor="let hour of hours" [value]="hour">
                                    {{hour}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Minuto:</mat-label>
                            <mat-select [(ngModel)]="this.minuto_inicio" [ngModelOptions]="{standalone:true}">
                                <mat-option *ngFor="let minute of minutes" [value]="minute">
                                    {{minute}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <span>
                    Horario de salida:
                </span>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Hora:</mat-label>
                            <mat-select [(ngModel)]="this.hora_salida" [ngModelOptions]="{standalone:true}">
                                <mat-option *ngFor="let hour of hours" [value]="hour">
                                    {{hour}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Minuto:</mat-label>
                            <mat-select [(ngModel)]="this.minuto_salida" [ngModelOptions]="{standalone:true}">
                                <mat-option *ngFor="let minute of minutes" [value]="minute">
                                    {{minute}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <mat-form-field class="w-100 mh-100" appearance="fill">
                    <mat-label>Descripcion</mat-label>
                    <textarea [(ngModel)]="this.descripcion" [ngModelOptions]="{standalone:true}" matInput></textarea>
                </mat-form-field>
            </div>
            <div class="col-4 offset-4">
                <input class="btn submit-button" type="submit" value="{{this.action}} MATERIA">
            </div>
        </form>
    </div>
    <div class="col-4">
        <app-materia-info [materia]="{
        costo: +this.costo,
        descripcion: this.descripcion,
        duracion: +this.duracion,
        f_final: this.f_conclusion,
        f_inicio: this.f_inicio,
        hora_inicio: this.hora_entrada + ':' + this.minuto_inicio,
        hora_salida: this.hora_salida + ':' + this.minuto_salida,
        nombre: this.nombre,
        url: this.url,
        id_m: this.id_m
      }" [f_inicio]="this.f_ini" [f_final]="this.f_fin"></app-materia-info>
    </div>
</div>