<div id="navegador">
    <ul>
    <li><a href="#">Elemento 1</a></li>
    <li><a href="#">Elemento 2</a></li>
    <li><a href="#">Elemento 3</a></li>
    <li><a href="#">Elemento 4</a></li>
    </ul>
</div> 
<div class="log_1">
    <div class="log_2">
        <p class="p1">Register With</p>
        <p class="p2">or</p>
        <form action="index.html"class="form-box animate__animated__bounce">
            <h1 class="form-title">CAMPO VIRTUAL</h1>
            <img class="avatar" src="/src/assets/cole.png" alt="Logo de FAzt">
            <input type="text" placeholder="Usuario">
            <input type="password" placeholder="password">
            <button type="submit">
                INGRESAR
            </button>
            <br>
            <a href="#">Olvidaste tu contraseña?</a> <br>
            <a href="#">Iniciar sesion como invitado</a>
        </form>
    </div>
    <footer class="pie_pagina">
        <a href="" class="link1">Términos </a>
        <a href="" class="link1">Privacidad </a>
        <a href="" class="link1">Seguridad </a>
        <a href="" class="link4">Póngase en contacto con Lechin Oquendo</a>
    </footer>
</div>

