<div id="navegador">
    <ul>
    <li><a href="#">Elemento 1</a></li>
    <li><a href="#">Elemento 2</a></li>
    <li><a href="#">Elemento 3</a></li>
    <li><a href="#">Elemento 4</a></li>
    </ul>
</div> 
<div class="log_1">
    <div class="log_2">
        <p class="p1">Register With</p>
        <p class="p2">or</p>
        <form action="">
            <label class="l1" for="name" name="name">Username</label>
            <input class="i1" id="name"type="text">
            <label class="l1" for="name" name="name">Password</label>
            <input class="i1" id="name"type="text">
            <label class="content-input">
                <input type="checkbox" name="Vehiculo" id="autovia" value="autovia">Autovia
                <i></i>
            </label>

            <button class="boton" type="submit">Sign in</button>
        </form>
    </div>
    <footer class="pie_pagina">
        <a href="" class="link1">Términos </a>
        <a href="" class="link1">Privacidad </a>
        <a href="" class="link1">Seguridad </a>
        <a href="" class="link4">Póngase en contacto con Lechin Oquendo</a>
    </footer>
</div>

