#navegador ul{
    list-style-type: none;
    text-align: center;
    background-color: #4286f4;
 } 
 
#navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    background-color: #4286f4;
 } 
#navegador{
    padding-top: 5em;
    background-color: #4286f4;
} 
#navegador li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    text-decoration: none;
 } 
 #navegador li a:hover{
    background-color: #333333;
    color: #4286f4;
 } 
.log_1{
background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
margin: 0 auto 10px auto;
padding-top: 5em;
}

.form{
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    background: var(--color-darkblue-alpha);
    margin: auto;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 8px;
    padding-bottom: 40px;
}
.log_2{
    text-align: center;
    border-radius: 1em;
    background-color:#ffffff;
    color: rgb(18, 18, 19);
    width: 300px;
    height: auto;
    padding: 1em;
    margin: 0 auto 10px auto;
    position: relative;
    margin-bottom: 10em;
}
.link4{
    margin: 0.5em;
    color: #161b22;
}
.l1{
    padding-top: 1em;
}

.i1{
    border-radius: 0.4em;
    border-color: #30363d;
    background-color: #16181c;;
    width: 100%;
    padding: 5px;
    margin-bottom: 0.5em;
    color: aliceblue;
}
.boton{
    margin-top: 1em;
    border-radius: 0.4em;
    background-color: #1f2733;
    margin-bottom: 0.3em;
    padding: 5px;
    width: 100%;
    border: 1px;
    border-color: #38914b;
    color: aliceblue;
}
.boton:hover{
    color: aliceblue;
    background-color:#304b71;
}
.link1{
    text-decoration: none;
    margin: 0.5em;
}
.pie_pagina{
    width: auto;
    padding: 3rem;
    background-color: #ecf0f4;
    position: relative;
}