<div>
    <ul id="ul">
        <p style="float:left" class="titulo">LECHIN OQUENDO</p>
        <li id="li" style="float:right"><a id="a" class="active" href="default.asp">INICIO</a></li>
        <li id="li" style="float:right"><a id="a" class="active" href="news.asp">PORTADA</a></li>
        <li id="li" style="float:right"><a id="a" class="active" href="contact.asp">INFORMACION</a></li>
        <li id="li" style="float:right"><a id="a" class="active" href="#about">CURSOS</a>
    </ul>
</div>
<div class="row py-4">
    <div class="col-6 offset-3">
        <form class="main-form rounded-5 shadow p-5 bg-white" (submit)="handleSubmit($event)">
            <h2 class="text-center">INGRESO DE PERSONAL</h2>
            <img class="avatar" class="w-25 d-block mx-auto" src="../../assets/cole.png" alt="Logo de FAzt">
            <div class="col-12 col-md-8 offset-md-2 my-4">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Nombre de usuario:</mat-label>
                    <input [(ngModel)]="this.usuario" [ngModelOptions]="{standalone:true}" matInput>
                </mat-form-field>
            </div>

            <div class="col-12 col-md-8 offset-md-2 my-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Contraseña:</mat-label>
                    <input [type]="hide ? 'password' : 'text'" [(ngModel)]="this.password"
                        [ngModelOptions]="{standalone:true}" matInput>

                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{this.hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="col-4 offset-4">
                <input type="submit" value="ACCEDER" class="btn btn-dark d-block w-100">
            </div>
            <br>
            <a href="#">Olvidaste tu contraseña?</a> <br>
            <a href="#">Iniciar sesion como invitado</a>
        </form>
    </div>
    <footer class="pie_pagina">
        <a href="" class="link1">Términos </a>
        <a href="" class="link1">Privacidad </a>
        <a href="" class="link1">Seguridad </a>
        <a href="" class="link4">Póngase en contacto con Lechin Oquendo</a>
    </footer>
</div>