.titulo {
    color: #ecf0f4;
    float: left;
    display: inline;
    display: block;
    padding-top: 16px;
    padding-left: 4px;
    font-size: 1.5rem;
}
.logo{
    width: auto;
    height: 3rem;
    padding-left: 6px;
}
//PARTE 2
#li {
    float: left;
    display: inline;
}

#a {
    display: block;
    padding: 8px;
}
//PARTE 4
#ul {
    list-style-type: none;
    margin: 0;
    align-items: center;
    padding: 0;
    overflow: hidden;
    background-color: rgb(17, 16, 16);
    padding: 12px;
}
#li #a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ecf0f4;
}

/* Change the link color to #111 (black) on hover */
#li #a:hover {
    background-color: rgb(136, 23, 23);
}
.titulo:hover{
    font-size: 1.6rem;
}
.logo:hover{
    width: auto;
    height: 3.1rem;
    border-radius: 4em;
    background-image: linear-gradient(rgba(9, 9, 9, 0.5), rgba(171, 18, 18, 0.5));
}

/**/
.caja{
/*background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-color: #cacfd3;
// background: linear-gradient(to right, #1c4c73, #323941); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
margin: 0 auto 10px auto;
}
h2{
    padding-top: 1em;
    text-align: center;
    color: #30363d;
    font-size: 3.5em;
    padding-bottom: 0.5em;
}
.negra1{
    background: -webkit-linear-gradient(rgb(228, 228, 218),rgb(180, 29, 29));
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.negra2{
    background: -webkit-linear-gradient(rgb(45, 45, 43),rgb(180, 29, 29));
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.caja1{
    border-radius: 0.7em;
    border: 2px;
    border-color: #fdfdfd;
    border-style: dotted;
    text-align: left;
    color: #fdfdfd;
    background: linear-gradient(to right, #1c4c73, #fdfdfd,#1c4c73);
    width: 60%;
    height: auto;
    padding: 1em;
    margin: 0 auto 10px auto;
    margin-bottom: 4em;
}
figure{
    padding-top: 2em;
    display:flex;
    justify-content: center;
    margin: 0%;
}
.logo2{
    width: auto;
    height: 5.8rem;
    border-radius: 4em;
    background-image: linear-gradient(rgba(9, 9, 9, 0.5), rgba(171, 18, 18, 0.5));
    padding: 4px;
}
.logo2:hover{
    width: auto;
    height: 6rem;
    background-image: linear-gradient(rgba(171, 18, 18, 0.5),rgba(9, 9, 9, 0.5));
}
.span{
    text-align: center;
    color: #2f3239;
    font-weight: bold;
}
/**/

.form{
    text-align: left;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    background: var(--color-darkblue-alpha);
    margin: auto;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 8px;
    padding-bottom: 40px;
}
.p1{
    font-size: 2em;
    background: -webkit-linear-gradient(rgb(87, 87, 85),#1c4c73);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.caja2{
    text-align: center;
    border-radius: 1em;
    background-color:#fafafa;
    color: #121213;
    width: 60%;
    height: auto;
    padding: 2em;
    margin: 0 auto 10px auto;
    position: relative;
    margin-bottom: 10em;
}
.link4{
    margin: 0.5em;
    color: #161b22;
}

.i1{
    border-radius: 0.2em;
    background-color:#b9bcc0;
    border-color:#30363d;
    border: 2px;
    width: 100%;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(11, 11, 11);
}
.boton{
    margin-top: 1em;
    border-radius: 0.4em;
    border-color: #1c4c72;
    background-color:#1c4c72;
    margin-bottom: 0.3em;
    padding: 8px;
    width: 100%;
    color: #fdfdfd;
}
.boton:hover{
    color: #16181c;
    border-color: #396dd5;
    background-color:#fdfdfd;
}
.link1{
    text-decoration: none;
    margin: 0.5em;
}
.link1:hover{
    text-decoration:underline;
}
.pie_pagina{
    width: auto;
    padding: 1rem;
    background-color: #ecf0f4;
    position: relative;
    display:flex;
    justify-content: center;
}