<div class="caja">
    <header>
        <nav>
            <ul id="ul">
                <a class="title" href=""><img class="logo" style="float:left" src="../../assets/LOGO JLO.png" alt="">
                <p class="titulo">LECHIN <b class="negra1">OQUENDO</b></p></a>
                <li id="li" style="float:right"><a id="a" class="active" href="/">INICIO</a></li>
                <li id="li" style="float:right"><a id="a" class="active" href="news.asp">PORTADA</a></li>
                <li id="li" style="float:right"><a id="a" class="active" href="contact.asp">INFORMACION</a></li>
                <li id="li" style="float:right"><a id="a" class="active" href="#about">CURSOS</a>
            </ul>
        </nav>
    </header>
    <h2>Trabajemos <b class="negra2">Juntos</b></h2>
    <section class="caja1">
            <figure>
                <img class="logo2" src="../../assets/LOGO JLO.png" alt="">
            </figure>
    <div class="span">
        <span>Lechin Oquendo</span>
    </div>
        <p>@lechin.oquend</p>
        <p>73503177</p>
        <p>lechin@oquend.info</p>
    </section>
    <section class="caja2">
        <p class="p1">Contactanos</p>
        <form action="">
            <input class="i1" id="name"type="text" placeholder="Nombre o Empresa">
            <input class="i1" id="name"type="text" placeholder="Correo">
            <input class="i1" id="name"type="text" placeholder="Proyecto o Asunto">
            <label class="content-input">
                <input type="checkbox" name="Vehiculo" id="autovia" value="autovia">Aceptar Terminos & condiciones
                <i></i>
            </label>
            <button class="boton" type="submit">Sign in</button>
        </form>
    </section>
    <footer class="pie_pagina">
        <a href="" class="link1">Términos </a>
        <a href="" class="link1">Privacidad </a>
        <a href="" class="link1">Seguridad </a>
        <a href="" class="link4">Póngase en contacto con Lechin Oquendo</a>
    </footer>
</div>