<div class="row ">
    <div class="col-8">
        <mat-progress-bar style="display:block" [ngClass]="{show:this.displayLoader}" mode="indeterminate" ></mat-progress-bar>

        <div class="row custom-list">
            <a class="col-4 my-3" *ngFor="let materia of materias" routerLink="{{this.materia.id_m}}">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{this.materia.nombre}}</mat-card-title>
                        <mat-card-subtitle>{{this.materia.costo}} Bs.
                            <h4>
                                Grado {{this.materia.grado}}
                            </h4>
                        </mat-card-subtitle>

                    </mat-card-header>
                    <img mat-card-image src="{{this.materia.url}}" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            {{this.materia.descripcion}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>
    <div class="col-4 bg-light rounded-3">
        <app-acciones-materias></app-acciones-materias>
        <app-tile-chart></app-tile-chart>
        <app-pie-chart></app-pie-chart>
    </div>

</div>