<div class="row custom-list">
    <a class="col-4 my-3" *ngFor="let materia of materias" routerLink="{{this.materia.id}}">
        <mat-card >
            <mat-card-header>
                <mat-card-title>{{this.materia.title}}</mat-card-title>
                <mat-card-subtitle>{{this.materia.costo}} Bs.
                    <h4>
                       Grado {{this.materia.grado}}
                    </h4>
                </mat-card-subtitle>

            </mat-card-header>
            <img mat-card-image src="{{this.materia.banner}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <span *ngIf="this.materia.estado==1;else elsecase">Vigente</span>
                <ng-template #elsecase> <span style="color:red">No disponible</span>
                </ng-template>
                <p>
                    {{this.materia.descripcion}}
                </p>
            </mat-card-content>
        </mat-card>
    </a>

</div>