<div class="main-table">
    <mat-progress-bar style="display:block" [ngClass]="{show:this.displayProgressBar}" mode="indeterminate">
    </mat-progress-bar>
    <span>LISTADO DE ESTUDIANTES</span>
    <div>
        <h3>Ordenar Por</h3>
        <button class="btn">
            <mat-icon>backup</mat-icon><span>
                Por Fecha
            </span>
        </button>
        <button class="btn">
            <mat-icon>backup</mat-icon><span>
                Por Fecha
            </span>
        </button>
        <button class="btn">
            <mat-icon>backup</mat-icon><span>
                Por Fecha
            </span>
        </button>
    </div>
    <div class="table-overflow">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Estudiante</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let docente of this.docentes;">
                    <td class="estudiante">
                        <mat-icon> person_pin</mat-icon>

                        <div>
                            <h3>{{this.docente.nombres+" "+this.docente.apellidos}}</h3>
                            <h4>{{this.docente.email}}</h4>
                        </div>
                    </td>
                    <td>
                        <p *ngIf="docente.disponible!; else noDispo" [ngClass]="{estado:true, estadoactivo:true}">
                            En servicio
                        </p>
                        <ng-template #noDispo>
                            <p [ngClass]="{estado:true,estadoInactivo:true}">
                                Sin servicio
                            </p>
                        </ng-template>
                    </td>
                    <td>+591 {{this.docente.telf}}</td>
                    <td>
                        <a routerLink="{{this.docente.num_u}}">
                            <mat-icon>edit</mat-icon>
                        </a>
                    </td>
                    <td>
                        <a routerLink="view/{{this.docente.num_u}}">

                            <mat-icon>remove_red_eye</mat-icon>
                        </a>

                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>