<div class="main-user-info">
    <div class="user-info">
        <img src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg" alt="">
        <div>
            <h3>
                Miguel Huayhua
            </h3>
            <p>Administrador</p>
        </div>
    </div>
    <div class="user-options">
        <a class="btn" routerLink="detalles" routerLinkActive="active">
            <mat-icon>info</mat-icon>
            Detalles
        </a>
        <a class="btn" routerLink="acciones" routerLinkActive="active">
            <mat-icon>playlist_add_check</mat-icon>
            Acciones
        </a>
        <a class="btn" routerLink="logs" routerLinkActive="active">
            <mat-icon>library_books</mat-icon>
            Inicios de Sesión
        </a>
    </div>
</div>