<nav class="container-fluid navbar-left-style">
    <div class="row">
        <div class="col-12 logo-section">
            <img src="../../../assets/LOGO JLO.png" class="navbar-left-image" alt="">
        </div>
        <div class="col-12 navbar-button">
            <a routerLink="#">
                <mat-icon>android</mat-icon>
                Home
            </a>
        </div>
        <div class="col-12 navbar-button">
            <a routerLink="#">
                <mat-icon>android</mat-icon>
                Home
            </a>
        </div>
        <div class="col-12 navbar-button">
            <a routerLink="#">
                <mat-icon>android</mat-icon>
                Home
            </a>
        </div>
        <div class="col-12 navbar-button">
            <a routerLink="#">
                <mat-icon>android</mat-icon>
                Home
            </a>
        </div>
        <div class="col-12 navbar-button">
            <a routerLink="#">
                <mat-icon>android</mat-icon>
                Home
            </a>
        </div>
    </div>

</nav>