<nav class="container-fluid navbar-left-style bg-light">
    <div class="row">
        <div class="col-12 logo-section">
            <img src="../../../assets/LOGO JLO.png" class="navbar-left-image" alt="">
        </div>

        <div class="col-12 ">
            <a routerLink="overview" class="navbar-button" routerLinkActive="active">
                <mat-icon>android</mat-icon>
                Inicio
            </a>
        </div>
        <div class="col-12">
            <h3>USUARIOS</h3>
            <hr>
        </div>
        <div class="col-12 ">
            <a routerLink="estudiante" class="navbar-button" routerLinkActive="active">
                <mat-icon>android</mat-icon>
                Estudiante
            </a>
        </div>
        <div class="col-12 ">
            <a routerLink="docente" class="navbar-button" routerLinkActive="active">
                <mat-icon>android</mat-icon>
                Docente
            </a>
        </div>
        <div class="col-12">
            <h3>INTERNO</h3>
            <hr>
        </div>
        <div class="col-12 ">
            <a routerLink="materias" class="navbar-button" routerLinkActive="active">
                <mat-icon>android</mat-icon>
                Materias
            </a>
        </div>
        <div class="col-12 ">
            <a routerLink="inscripcion" class="navbar-button" routerLinkActive="active">
                <mat-icon>android</mat-icon>
                Inscripcion
            </a>
        </div>
        <div class="col-12 ">
            <a routerLink="docente" class="navbar-button" routerLinkActive="active">
                <mat-icon>android</mat-icon>
                Docente
            </a>
        </div>
        <div class="col-12 ">
            <a routerLink="docente" class="navbar-button" routerLinkActive="active">
                <mat-icon>android</mat-icon>
                Docente
            </a>
        </div>

        <div class="col-12 ">
            <a routerLink="#" class="navbar-button" routerLinkActive="active">
                <mat-icon>android</mat-icon>
                Home
            </a>
        </div>
    </div>

</nav>