<nav class="row main-dash-navbar">
    <div class="col-12 col-md-4 col-xxl-4 d-flex align-items-center">
        <a routerLink="{{ruta.fullPath}}" class="custom-redirects" *ngFor="let ruta of this.rutas">
            {{ruta.route}}
        </a>
    </div>
    <div class="col-12 offset-xxl-2 col-md-8 col-xxl-6 ">
        <div class="row d-flex align-items-center">
            <div class="col-7">
                <form class="d-flex" class="custom-form" action="">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">
                        <mat-icon>search</mat-icon>
                    </button>
                </form>
            </div>
            <div class="col-5 position-relative d-flex justify-content-end">
                <button class="btn-user" (click)="handleClickButton($event)">
                    <mat-icon>account_circle</mat-icon>
                    Miguel Huayhua Condori
                </button>
                <div [ngClass]="{userOptions:true, showUserOptions:this.showUserOptions,row:true,
                customOptions:true}" (mouseleave)="handleMouseLeave($event)">
                    <div class="col-12">
                        <a class="btn w-100" routerLink="/dashboard/me">
                            <mat-icon> insert_emoticon</mat-icon>
                            Mi perfil
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="btn w-100">
                            <mat-icon>edit</mat-icon>
                            Editar Perfil
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="btn w-100">
                            <mat-icon>exit_to_app</mat-icon>
                            Cerrar Sesión
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>