//main body for dash navbar
.main-dash-navbar {
    padding: 20px 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

//top info into navbar links
.link-dashboard {

    color: rgb(54, 49, 67) !important;
    font-family: 'Roboto';
    font-size: 1.2em;

    a {
        color: inherit;

        &:hover {
            color: rgb(55, 63, 88);
        }
    }
}

//custom form top navbar
.custom-form {

    display: flex;

    input {
        padding: 10px 10px;
        margin: 0 !important;
        border-radius: 0;
        border: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: whitesmoke;

        &:focus {
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.576) !important;
        }
    }

    button {
        padding: 0 10px;
        margin: 0;
        border-radius: 0;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: black;
        background-color: whitesmoke;

        &:hover {
            background-color: rgb(46, 56, 82);
            color: white;
        }
    }
}

//button user to display user actions to his account
.btn-user {
    border: none;
    display: flex;
    align-items: center;
    background-color: rgb(43, 67, 100) !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.103);
    padding: 10px;
    color: rgb(230, 230, 230);
    border-radius: 10px;
    transition: box-shadow 1s;

    mat-icon {
        margin-right: 5px;
        width: 35px;
    }

    &:hover {
        box-shadow: 0px 0px 10px rgb(85, 73, 164);
        transition: box-shadow .25s;
    }

}

//user actions after to press the user button
.userOptions {
    position: absolute;
    right: 10px;
    top: 50px;
    width: 80%;
    min-width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(102, 102, 102);
    height: 150px;
    display: none;
}

.showUserOptions {
    display: block;
    z-index: 1;
}

.customOptions {
    div {
        a {
            display: flex;
            align-items: center;
            justify-content: start;
            margin-top: 5px;

            mat-icon {
                margin-right: 10px;
            }
        }
    }
}

//custom redirects

.custom-redirects {
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(75, 75, 185);
    font-size: 1.2em;
}