<div class="row shadow">
    <div class="col-4">
        <h2 class="text-center">
            {{this.materia.nombre}}
        </h2>
        <img class="img-fluid rounded" src="{{this.materia.url}}" alt="">
    </div>
    <div class="col-8">
        <p>
            <span>
                Costo del curso:
            </span>
            {{this.materia.costo}}
        </p>
        <p>
            <span>Comienzo del curso:</span>
            {{this.f_inicio}}
        </p>
        <p>
            <span>Finalización del curso:</span>
            {{this.f_final}}

        </p>


    </div>
</div>