<div class="row">
    <mat-progress-bar style="display:none;" [ngClass]="{show:this.showProgressBar}" mode="indeterminate">
    </mat-progress-bar>
    <div class="col-4 my-3" *ngFor="let materia of materias">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{this.materia.nombre}}</mat-card-title>
                <mat-card-subtitle>{{this.materia.costo}} Bs.
                    <h4>
                        Grado {{this.materia.grado}}
                    </h4>
                </mat-card-subtitle>

            </mat-card-header>
            <img mat-card-image src="{{this.materia.url}}" alt="Photo of a Shiba Inu">
            <button id="{{materia.id_m}}" (click)="handleClick($event)" [ngClass]="{btn:true,'btn-dark':true,
        disableButton:this.disableButton}">
                Agregar
            </button>
        </mat-card>
    </div>
</div>