<div class="main-table">
    <mat-progress-bar style="display:block" [ngClass]="{show:this.displayProgressBar}" mode="indeterminate">
    </mat-progress-bar>
    <span>LISTADO DE ESTUDIANTES</span>
    <div>
        <h3>Ordenar Por</h3>
        <button class="btn">
            <mat-icon>backup</mat-icon><span>
                Por Fecha
            </span>
        </button>
        <button class="btn">
            <mat-icon>backup</mat-icon><span>
                Por Fecha
            </span>
        </button>
        <button class="btn">
            <mat-icon>backup</mat-icon><span>
                Por Fecha
            </span>
        </button>
    </div>
    <div class="table-overflow">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Estudiante</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estudiante of this.estudiantes;">
                    <td class="estudiante">
                        <mat-icon> person_pin</mat-icon>

                        <div>
                            <h3>{{this.estudiante.nombres+" "+this.estudiante.apellidos}}</h3>
                            <h4>{{this.estudiante.email}}</h4>
                        </div>
                    </td>
                    <td>
                        <p  [ngClass]="{estado:true, estadoactivo:true}">
                            Cursando
                        </p>
                    </td>
                    <td>+591 {{this.estudiante.telf}}

                    </td>
                    <td>
                        <a routerLink="{{this.estudiante.num_u}}">

                            <mat-icon>remove_red_eye</mat-icon>
                        </a>

                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>