<main class="container-fluid position-relative">
    <div class="row mt-3">
        <div class="col-xl-2 d-none d-xl-block">
            <app-left-navbar></app-left-navbar>
        </div>
        <div class="col-12 col-xl-10">
            <div class="row mx-1">
                <div class="col-12 mb-4 position-sticky" style="z-index: 10;
                top: 30px;">
                    <app-dash-navbar></app-dash-navbar>
                </div>
                <div class="col-12">
                    <router-outlet></router-outlet>

                </div>
                <div class="col-4 bg-body">asdf</div>
                <div class="col-12 bg-warning">footer</div>
            </div>
        </div>

    </div>
    <div class="background-top">

    </div>
</main>