<main class="container-fluid mt-3">
    <div class="row">
        <div class="col-xl-2" id="left-navbar">
            <app-left-navbar></app-left-navbar>
        </div>
        <div class="col-12 col-xl-10">
            <div class="row mx-1">
                <div class="col-12">
                    <app-dash-navbar></app-dash-navbar>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <app-quick-cards></app-quick-cards>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <app-quick-cards></app-quick-cards>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <app-quick-cards></app-quick-cards>

                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <app-quick-cards></app-quick-cards>
                </div>
                <div class="col-md-6 col-lg-8 col-12 d-flex justify-content-center">
                    <app-line-chart-home></app-line-chart-home>
                </div>
                <div class="col-md-6 col-lg-4 col-12 d-flex justify-content-center align-items-center">
                    <app-bar-chart-home></app-bar-chart-home>
                </div>
                <div class="col-8 bg-info">Susan, David, Boris, Miguel</div>
                <div class="col-4 bg-body">asdf</div>
                <div class="col-12 bg-warning">footer</div>
            </div>
        </div>

    </div>
</main>