//responsive side
@media (max-width: 1200px) {
    #left-navbar {
        display: none;
    }
}
.col-12{
    background: -webkit-linear-gradient(to right, #4e92d3, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #4b91d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }