<main class="container-fluid mt-3">
    <div class="row">
        <div class="col-2">
            <app-left-navbar></app-left-navbar>
        </div>
        <div class="col-10">
            <div class="row mx-1">
                <div class="col-12">
                    <app-dash-navbar></app-dash-navbar>
                </div>
                <div class="col-3">
                    <app-quick-cards></app-quick-cards>
                </div>
                <div class="col-3">
                    <app-quick-cards></app-quick-cards>
                </div>
                <div class="col-3">
                    <app-quick-cards></app-quick-cards>

                </div>
                <div class="col-3">
                    <app-quick-cards></app-quick-cards>
                </div>
                <div class="col-8 positoin-relative">
                    <app-line-chart-home></app-line-chart-home>
                </div>
                <div class="col-4 bg-body">asdf</div>
                <div class="col-8 bg-info">Susan, David, Boris, Miguel</div>
                <div class="col-4 bg-body">asdf</div>
                <div class="col-12 bg-warning">footer</div>
            </div>
        </div>

    </div>
</main>