<div class="row">
    <div class="col-6">
        <app-docente-info [docente]="this.docente" [f_nac]="this.fecha" [departamento]="this.nombreDepartamento[+this.docente.departamento]"></app-docente-info>
    </div>

    <div class="col-6">
        <form (submit)="handleSubmit($event)">
            <div class="row bg-light rounded-3">
                <h2 class="text-center">
                    Añade información adicional para el {{this.tipo}}
                </h2>
                <div class="col-6 my-3">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Años de antiguedad: </mat-label>
                        <input [(ngModel)]="this.antiguedad" [ngModelOptions]="{standalone:true}" matInput>
                    </mat-form-field>
                </div>
                <div class="col-6 my-3">
                    <input type="file">
                </div>
                <div class="col-6 my-3  offset-3">
                    <mat-form-field class="w-100 my-2" appearance="fill">
                        <mat-label>Carrera:</mat-label>
                        <mat-select [(ngModel)]="this.id_carrera" [ngModelOptions]="{standalone:true}">
                            <mat-option *ngFor="let carrera of this.carreras" [value]="carrera.id_e">
                                {{carrera.universidad + ' - '+carrera.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-4 offset-4">
                    <input class="btn btn-dark my-4" type="submit" value="ACEPTAR INFORMACIÓN">

                </div>
            </div>
        </form>
    </div>
</div>