
    
      <div class="u-body u-xl-mode" data-lang="es"><header class="u-clearfix u-grey-80 u-header u-header" id="sec-c050"><div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
            <a href="#" class="u-image u-logo u-image-1" data-image-width="768" data-image-height="768">
              <img src="https://lh3.googleusercontent.com/p/AF1QipNVCWZtykqVnxnrs0YXsQ0ZkOQ-NfFouLppKpHK=w768-h768-n-o-v1" class="u-logo-image u-logo-image-1">
            </a>
            <h2 class="u-text u-text-default u-text-1">LECHIN OQUENDO</h2>
          </div>
          <div>
            <ul id="ul">
                <li id="li" style="float:right"><a id="a" class="active" href="/home">INICIO</a></li>
                <li id="li" style="float:right"><a id="a" class="active" href="/login">INGRESAR</a></li>
                <li id="li" style="float:right"><a id="a" class="active" href="#">INFORMACION</a></li>
                <li id="li" style="float:right"><a id="a" class="active" href="#t">CURSOS</a>
            </ul>
          </div>
        </header>
        <section class="u-align-left u-clearfix u-image u-shading u-section-1" src="" data-image-width="1280" data-image-height="960" id="sec-a5cc">
          <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-large-text u-text u-text-variant u-text-1">Exelencia Educativa</p>
            <h1 class="u-text u-text-default-xl u-title u-text-2">INSTITUTO CEA&nbsp;<br>LECHIN OQUENDO
            </h1>
            <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="https://lh3.googleusercontent.com/p/AF1QipNVCWZtykqVnxnrs0YXsQ0ZkOQ-NfFouLppKpHK=w768-h768-n-o-v1" alt="" data-image-width="768" data-image-height="768">
            <p class="u-large-text u-text u-text-variant u-text-3"> "Tu tiempo es limitado, así que no lo malgastes viviendo la vida de otra persona"</p>
            <a href="#" class="u-btn u-button-style u-palette-2-base u-btn-1">INSCRIPCIONES HABIERTAS</a>
          </div>
        </section>
        <section class="u-align-left u-clearfix u-section-2" id="sec-14c2">
          <div class="u-clearfix u-sheet u-sheet-1">
            <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
              <h1 style="text-align: left;">
                <span style="font-size: 1.5625rem;">SE PARTE DE NOSOTROS</span>
              </h1>
              <p style="text-align: left;">
                <span style="font-size: 0.625rem;">Incribete a uno de los cursos que te interese, y forma parte de la Institucion, para nosotros sera una alegria recibirte en la institucion alternativa de educacion, en donde puedes formarte en una de las siguientes carreras, que veras a continuacion y mucho mas, registrate....</span>
              </p>
            </div>
          </div>
        </section>
        <section class="u-clearfix u-section-3" id="carousel_8d5d">
          <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-sm u-valign-middle-xl u-sheet-1">
            <img class="u-border-11 u-border-white u-expanded-width-sm u-expanded-width-xs u-image u-image-1" src="https://static.eldeber.com.bo//Files/Sizes/2022/1/11/univalle-santa-cruz_833942427_760x520.jpeg" data-image-width="760" data-image-height="520">
            <img class="u-expanded-width-sm u-expanded-width-xs u-image u-image-2" src="https://blogs.iteso.mx/materias-carreras/wp-content/uploads/sites/115/2019/07/sem1_ele_fundam-de-ie-I_ok.jpg" data-image-width="620" data-image-height="359">
            <h3 class="u-text u-text-1">COMERCIO INTERNACIONAL</h3>
            <h3 class="u-text u-text-2">ELECTRONICA</h3>
            <img class="u-expanded-width-sm u-expanded-width-xs u-image u-image-3" src="https://dnb2eg0emsxdz.cloudfront.net/blog/wp-content/uploads/2016/12/los-5-cursos-online-mas-valorados-para-aprender-ingles.jpg" data-image-width="1160" data-image-height="630">
            <h3 class="u-text u-text-3">INGLES AVANSADO</h3>
          </div>
        </section>
        
        
        <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-300a"><div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Desarrollado por Los Frelanceer de Ing Sistemas II</p>
          </div></footer>
        <section class="u-backlink u-clearfix u-grey-80">
          <a class="u-link" href="#" target="_blank">
            <span>Instituto Cea </span>
          </a>
          <p class="u-text">
            <span>Mas informaciones </span>
          </p>
          <a class="u-link" href="#" target="_blank">
            <span>visitanos</span>
          </a>. 
        </section>
      
      </div>