<div class="main-table">
    <span>LISTADO DE ESTUDIANTES</span>
    <div>
        <h3>Ordenar Por</h3>
        <button class="btn">
            <mat-icon>backup</mat-icon><span>
                Por Fecha
            </span>
        </button>
        <button class="btn">
            <mat-icon>backup</mat-icon><span>
                Por Fecha
            </span>
        </button>
        <button class="btn">
            <mat-icon>backup</mat-icon><span>
                Por Fecha
            </span>
        </button>
    </div>
    <div class="table-overflow">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Estudiante</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="estudiante">

                        <img src="https://i.pinimg.com/474x/b8/91/fb/b891fb0046f2a92b99754d061710c1dc.jpg" alt="">
                        <div>
                            <h3>Alejandra Ramirez</h3>
                            <h4>alejandra@gmail.com</h4>
                        </div>
                    </td>
                    <td>
                        <p [ngClass]="{estado:true, estadoactivo:true}">
                            En Estudio
                        </p>
                    </td>
                    <td>+591 72343244</td>
                    <td>
                        <mat-icon>edit</mat-icon>
                    </td>
                    <td>
                        <mat-icon>remove_red_eye</mat-icon>
                    </td>
                </tr>
                <tr>
                    <td class="estudiante">

                        <img src="https://i.pinimg.com/474x/b8/91/fb/b891fb0046f2a92b99754d061710c1dc.jpg" alt="">
                        <div>
                            <h3>Alejandra Ramirez</h3>
                            <h4>alejandra@gmail.com</h4>
                        </div>
                    </td>
                    <td>
                        <p [ngClass]="{estado:true, estadoactivo:true}">
                            En Estudio
                        </p>
                    </td>
                    <td>+591 72343244</td>
                    <td>
                        <mat-icon>edit</mat-icon>
                    </td>
                    <td>
                        <mat-icon>remove_red_eye</mat-icon>
                    </td>
                </tr>
                <tr>
                    <td class="estudiante">

                        <img src="https://i.pinimg.com/474x/b8/91/fb/b891fb0046f2a92b99754d061710c1dc.jpg" alt="">
                        <div>
                            <h3>Alejandra Ramirez</h3>
                            <h4>alejandra@gmail.com</h4>
                        </div>
                    </td>
                    <td>
                        <p [ngClass]="{estado:true, estadoactivo:true}">
                            En Estudio
                        </p>
                    </td>
                    <td>+591 72343244</td>
                    <td>
                        <mat-icon>edit</mat-icon>
                    </td>
                    <td>
                        <mat-icon>remove_red_eye</mat-icon>
                    </td>
                </tr>
                <tr>
                    <td class="estudiante">

                        <img src="https://i.pinimg.com/474x/b8/91/fb/b891fb0046f2a92b99754d061710c1dc.jpg" alt="">
                        <div>
                            <h3>Alejandra Ramirez</h3>
                            <h4>alejandra@gmail.com</h4>
                        </div>
                    </td>
                    <td>
                        <p [ngClass]="{estado:true, estadoactivo:true}">
                            En Estudio
                        </p>
                    </td>
                    <td>+591 72343244</td>
                    <td>
                        <mat-icon>edit</mat-icon>
                    </td>
                    <td>
                        <mat-icon>remove_red_eye</mat-icon>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>