.main-table {
    width: 95%;
    margin: 20px auto;
    background-color: rgb(55, 73, 97);
    padding: 20px;
    border-radius: 20px;
    overflow-x: scroll;

    span {
        color: white;
        font-family: 'Roboto';
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-around;

        h3 {
            margin: auto 0;
            color: white;
            font-weight: 600;
        }

        button {
            display: flex;
            align-items: center;
            background: rgb(209, 231, 242);
            background: -moz-linear-gradient(90deg, rgba(209, 231, 242, 1) 0%, rgba(199, 212, 223, 1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(209, 231, 242, 1) 0%, rgba(199, 212, 223, 1) 100%);
            background: linear-gradient(90deg, rgba(209, 231, 242, 1) 0%, rgba(199, 212, 223, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1e7f2", endColorstr="#c7d4df", GradientType=1);
            border: none;
            font-weight: 600;

            span {
                margin: 3px 0 0 10px;
                color: rgb(34, 34, 34);
            }
        }
    }

    div {
        table {
            border-radius: 20px;
            margin-top: 20px;
            overflow: hidden;

            thead {
                background-color: rgba(0, 0, 0, 0.191);

                tr {
                    th {
                        font-weight: bold;
                        color: white;
                        text-align: center;

                        &:first-child {
                            width: 300px;
                        }

                        &:nth-child(2) {
                            width: 100px;
                        }
                    }
                }
            }

            tbody {

                tr {
                    height: 55px;
                    text-align: center;

                    td {
                        vertical-align: middle;
                        color: whitesmoke;

                    }
                }
            }

        }
    }
}

.estudiante {
    display: flex;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    div {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: 60%;

        h3 {
            font-size: .9em;
        }

        h4 {
            font-size: .85em;
            color: rgb(186, 186, 186);
        }
    }
}


//student status at his institute

.estado {
    width: 90px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}

.estadoactivo {
    background-color: rgb(101, 155, 19);
}